body {
	font-family: Helvetica;
	font-size: 13px;
}

#menu {
	float: right;
	margin-top: 30px;
	margin-right: 20px;
	text-align: right;
	width: 180px;
}

#menu .title {
	font-family: Helvetica;
	font-size: 16px;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu li a {
	display: inline-block;
	color: #0864c7;
}

#left {
	height: 1px;
	float: left;
	display: block;
	min-width: 0;
	overflow: hidden;
	width: 200px;
	margin: 0;
	padding: 0;
}

#content {
	margin-top: 30px;
	float: left;
	width: 570px;
}

#content h1, #content h2, #content h3 {
	font-family: Helvetica;
	margin: 0;
}

#content h2 {
	margin-top: 2em;
}

#content p, #content ul {
	color: #333;
	line-height: 18px;
}

#content sup.note {
	display: inline-block;
	margin-top: -5px;
}

#content li {
	margin-bottom: 0.7em;
}

#content .task-list {
	list-style-type: none;
}

img {
	transition:transform 0.25s ease;
}

img:hover {
	-webkit-transform:scale(3);
	transform:scale(3);
}

.circles {
	position: absolute;
	bottom: '1000px';
	left: 0;
	width: 100%;
	height: 50%;
	z-index: -1;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(31, 114, 129, 0.425);
	animation: animate 25s linear infinite;
	bottom: calc(-150px - 40vh);
}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
	animation-duration: 10s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(53, 44, 184, 0.301);
}

.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 15s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(65, 181, 202, 0.37);
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 10s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(46, 41, 114, 0.1);
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 15s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(153, 59, 212, 0.342);
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 10s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(43, 162, 184, 0.336);
}

.circles li:nth-child(6) {
	left: 75%;
	width: 90px;
	height: 90px;
	animation-delay: 0s;
	animation-duration: 15s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(114, 63, 145, 0.1);
}

.circles li:nth-child(7) {
	left: 35%;
	width: 50px;
	height: 50px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.1);
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 0s;
	animation-duration: 25s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(114, 63, 145, 0.1);
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 0s;
	animation-duration: 35s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.1);
}

.circles li:nth-child(10) {
	left: 85%;
	width: 50px;
	height: 50px;
	animation-delay: 0s;
	animation-duration: 35s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(96, 183, 199, 0.1);
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	50% {
		transform: translateY(-60vh) rotate(360deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-120vh) rotate(720deg);
		opacity: 1;
	}
}