@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

* {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	position: relative;
}

.timeline {
	padding: 40px 0px;
	width: 40%;
	margin-left: 8%;
	margin-bottom: 40px;
}

.timeline:before {
	content: "";
	position: absolute;
	top: 40px;
	left: 65px;
	width: 3px;
	height: calc(100% - 80px);
	background: #2b2dc0;
}

.timeline .column {
	margin: 40px 40px 40px 120px;
}

.timeline .column .title h1 {
	font-size: 64px;
	color: rgba(0,0,0,0.1);
	font-family: Helvetica;
	letter-spacing: 3px;
	margin-bottom: 24px;
}

.timeline .column .title h1:before {
	content: "";
	position: absolute;
	left: -62px;
	top: 86px;
	width: 10px;
	height: 10px;
	background: #fff;
	border: 3px solid #2b2dc0;
}

.timeline .column .title h2 {
	margin-top: -52px;
	font-size: 16px;
}

.timeline .column .description p {
	font-size: 13px;
	line-height: 20px;
	margin-left: 20px;
	margin-top: 10px;
	font-family: Helvetica;
}

.timeline .column .description {
	border-left: 1px solid #000;
}

.main {
	width: 80%;
	margin-left: 10%;
	margin-top: 80px;
}

.main h1 {
	font-size: 24px;
	line-height: 60px;
}

.main p {
	font-size: 13px;
	line-height: 20px;
	font-family: Helvetica;
	text-align: right;
}